/* div>p{
    color:blueviolet
}
div>section{
    color: brown;
}
div+p{
    color: aqua;
}
div+div+p{
    color: yellow
    ;
} */
 /* ----------pseudo classes------- */
 /* P+P+P{
    color: greenyellow;
 } */
  /* p:hover{
    background-color: brown;
  }
  
  a:visited{
    color: brown;

  } */
  /* button{
    border:none;
    background-color: #04AA6D;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;

  }
  button:hover{
    background-color: #2cbc63;
    scale: 1.2;
    transition: all 700ms ease;
  } */

/* --------pseudo classes-------- */

/* body>ul>li:first-child{
  background-color: yellow
  ;
}
p:nth-child(2){
  background-color: red;
}
/* not work--- */
/* p:nth-child(3){
  background-color: aqua;
}
/* will work----- */
/* li:nth-child(3){
  background-color: aqua;
}
p:nth-of-type(1){
  background-color: pink;
} */

/* div li:nth-of-type(3)
{ 
  background-color: peru;} */


  /* -------flexbox----- */

  .parent>div{
    font-size: 24px;
    background-color: blanchedalmond;
    border: 1px solid grey;
  
  }

  .parent{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 400px;
    align-items: center;
  }
  /* .child1,child2,child4{
    flex-shrink: 1;

  }
  .child3{
    flex-grow: 1;
    flex-shrink: 1;
  } */